#canvasMap{

      position: absolute;
        width : 1170px;
        height : 827px;
		z-index: 50;
}

#legende {
	font-size: 12px;
	color: #990000;
	font-weight: bold;
	z-index: 100;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 4px;

}
