<div class="facet-navigation col-md-3">
	<ul>
		<li><a href="informations-personnelle.html">Information personnelles</a></li>
		<li><a href="adresse-client.html">Gérer mon carnet d'adresses</a></li>
		<li><a href="historique-commandes.html">Historique des commandes</a></li>
		
	</ul>
</div>