<h1>Votre commande a été bien reçu</h1>
<div class="confirmation-form-wrap">
    <p class="sub-title">Merci pour votre achat!</p>
    <p>
	Vous allez recevoir l’intégralité de votre commande sous Y semaines dans votre adresse de livraison du 20 rue du paradis, 53 000 Laval.
    </p>

 <p>Votre commande est : <strong>1500000093</strong>.</p>
<div class="confirmation-list-products"> 
	<div class="column-labels">
	    <label class="product-image">Image</label>
	    <label class="product-details">Produit</label>
	    <label class="product-price">Prix</label>
	    <label class="product-quantity">Quantité</label>
	    <label class="product-line-price">Total</label>
	  </div>
	   <div class="product">
	    <div class="product-image">
	      <img src="https://www.materiel.net/live/360591.350.350.jpg">  
	    </div>
	   <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-1.html">
        Smartphone Apple iPhone 7 (or) - 32 Go
          </a>
        </h2>
        <a href="detail-produit-1.html">
        <div class="product-description">
          <ul>
            <li>Couleur : Or</li>
            <li>OS (type) : iOS</li>
            <li>Robuste : Certifié IP67</li>
            <li>Batterie : 1960 mAh</li>
            <li>Taille écran : 4,7"</li>
            <li>Processeur : Apple A10 64 bits</li>
          </ul>
        </div>
      </a>
    </div>
    <div class="product-price">639,00€</div>
	    <div class="product-quantity">
	      <span>2</span>
	    </div>
	    
	    <div class="product-line-price">1278,00</div>
	  </div>
	
	  <div class="product">
	    <div class="product-image">
	      <img src="https://www.materiel.net/live/194803.350.350.jpg">
	    </div>
	    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-2.html">
        Smartphone Apple iPhone 6s (or) - 32 Go
          </a>
        </h2>
        <a href="detail-produit-2.html">
        <div class="product-description">
          <ul>
            <li>Couleur : Or</li>
            <li>OS (type) : iOS</li>
            <li>Robuste : Certifié IP67</li>
            <li>Batterie : 1715 mAh</li>
            <li>Taille écran : 4,7"</li>
            <li>Processeur : Apple A9 64 bits</li>
          </ul>
        </div>
      </a>
    </div>
    <div class="product-price">529,00€</div>
	    <div class="product-quantity">
	      <span>1</span>
	    </div>
	    
	    <div class="product-line-price">529,00</div>
	  </div>
	  <div class="totals">
	    
	    <div class="totals-item totals-item-total">
	      <label>Grand Total</label>
	      <div class="totals-value" id="cart-total">1807,00</div>
	    </div>
	  </div>
	
	            
	        
	    
	    
	    <div class="buttons-set">
	        <button type="button" class="button" title="Continue Shopping">
	        	Continuer Achat
	        </button>
	    </div>
</div>
</div>