<h1 class="legend">Laisser nous un message</h1>
<div class="row">
    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="369" id="gmap_canvas" src="https://maps.google.com/maps?q=laval france&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Webdesign <a href="https://www.pureblack.de">Pure Black GmbH</a></div></div>
</div>
<div class="row contact-us">
    <div class="col-md-8">
        <form action="#" method="post">
            <div class="row">
                <ul class="form-list col-md-6">
                    <li>
                        <label for="name" class="required"><em>*</em>Name</label>
                        <div class="input-box">
                            <input name="name" id="name" title="Name" value="" class="input-text required-entry" type="text">
                        </div>
                    </li>
                    <li>
                        <label for="email" class="required"><em>*</em>Email</label>
                        <div class="input-box">
                            <input name="email" id="email" title="Email" value="" class="input-text required-entry validate-email" type="text">
                        </div>
                    </li>
                    <li>
                        <label for="telephone">Telephone</label>
                        <div class="input-box">
                            <input name="telephone" id="telephone" title="Telephone" value="" class="input-text" type="text">
                        </div>
                    </li>
                </ul>
                <ul class="form-list col-md-6">
                    <li>
                        <label for="comment" class="required"><em>*</em>Comment</label>
                        <div class="input-box input-textarea">
                            <textarea name="comment" id="comment" title="Comment" class="required-entry input-text" cols="5" rows="3" placeholder="Comment"></textarea>
                        </div>
                    </li>
                    <li>
                        <input type="text" name="hideit" id="hideit" value="" style="display:none !important;">
                        <button type="submit" title="Submit" class="button">Submit</button>
                    </li>
                </ul>
            </div>
        </form>

    </div>
    <div class="col-md-4 contact-info">
        <h2 class="legend">Contact <b>Details</b></h2>
         <div class="row"><div class="col-md-12">
                <i class="icon-phone"></i>
                <p>0201 203 2032</p>
                <p>0201 203 2032</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <i class="icon-mobile"></i>
                <p>201-123-3922</p>
                <p>302-123-3928</p>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <i class="icon-mail-alt"></i>
                    <p>Ebenus@gmail.com</p>
                    <p>Ebenus@Ebenus.com</p>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <i class="icon-skype"></i>
                <p>Ebenus_skype</p>
                <p>Ebenus_Fb</p>
            </div>
        </div>
    </div>
</div>