<div class="customer-acount">
	<h1>Compte Client</h1>
	<div class="account-container row no-gutters">
		<div class="facet-navigation col-md-3">
	<ul>
		<li><a href="informations-personnelle.html">Information personnelles</a></li>
		<li><a href="adresse-client.html">Gérer mon carnet d'adresses</a></li>
		<li><a href="historique-commandes.html">Historique des commandes</a></li>
		
	</ul>
</div>
		<div class=" common-form-controls col-md-9">
		<p>Bienvenue Mr <strong>John Doe</strong>,<br/>
			Voici le récapitulatif de votre compte. Vous pouvez changer vos informations personnelles et gérer les options de votre compte.</p>
			<img src="images/banner.jpg" alt="">
		</div>
	</div>
</div>