<div class="customer-acount">
	<h1>Adresse Client</h1>
	<div class="account-container row no-gutters">
		<div class="facet-navigation col-md-3">
	<ul>
		<li><a href="informations-personnelle.html">Information personnelles</a></li>
		<li><a href="adresse-client.html">Gérer mon carnet d'adresses</a></li>
		<li><a href="historique-commandes.html">Historique des commandes</a></li>
		
	</ul>
</div>
		<div class=" common-form-controls col-md-9">
			<div class="row no-gutters top-block">
				 <div class="sel-container col-md-6">
					 <div class="sel">
					  <select name="select-adress" id="select-adress-ship">
					    <option value="Mes adresses" disabled>Mes adresses</option>
					    <option value="Jhon@mail.com">John@mail.com</option>
					    <option value="Mon Adresse de livraison">Mon Adresse de livraison 1</option>
					    <option value="Mon adresse de facturation">Mon Adresse de livraison 2</option>
					  </select>
					</div>
					
				</div>

				<div class="col-md-6 adress-right-block">
					<form action="ajouter-adresse-client.html" method="get" accept-charset="utf-8">
				  		<button type="submit">Ajouter adresse de livraison</button>
					</form>
				  <button type="submit">Retirer</button>
				</div>


			</div>
		<div id="customer-info-form" class="row no-gutters">
			<div class="row">
				<fieldset class="col-md-6">
				<h2>Adresse de facturation</h2>
					<form action="#">
						<label for="street">Rue</label>
						<input value="victoire" name="street" id="street" type="text">
						<label for="postalcode">Code Postale</label>
						<input value="75000" name="postalcode" id="postalcode" type="text">
						<label for="city">Ville</label>
						<input value="Paris" name="city" id="city" type="text">
						<label for="country">Pays</label>
						<input value="France" name="country" id="country" type="text">
					</form>
				</fieldset>

				<fieldset class="col-md-6">
			<div class="shipAddr">
				<h2>Adresse de livraison</h2>
					<form action="#">
						<label for="streetShip">Rue</label>
						<input value="victoire" name="streetShip" id="streetShip" type="text">
						<label for="postalcodeShip">Code Postale</label>
						<input value="75000" name="postalcodeShip" id="postalcodeShip" type="text">
						<label for="cityShip">Ville</label>
						<input value="Paris" name="cityShip" id="cityShip" type="text">
						<label for="countryShip">Pays</label>
						<input value="France" name="countryShip" id="countryShip" type="text">
					</form>
			</div>
			</fieldset>
			</div>
			<div class="row">
				<fieldset class="col-md-6">
				<h2>Informations personnelles</h2>
				<form action="">
				<label for="firstname">Prénom</label>
				<input value="Jhon" name="firstname" id="firstname" type="text">
				<label for="lastname">Nom</label>
				<input value="Doe" name="lastname" id="lastname" type="text">
				<label for="email">Identifiant</label>
				<input value="jhon@mail.com" name="email" id="email" type="email">
				<label for="password">Mot de passe</label>
				<input value="123456" name="password" id="password" type="password">
				<label for="passwordBis">Confirmer mot de passe</label>
				<input value="123456" name="passwordBis" id="passwordBis" type="password">


					<label>Civilité</label>
					<div class="gender">
						<input type="radio" id="male" name="sex" checked="checked"/>
						<label for="male">
						  <i class="fa fa-male" aria-hidden="true"></i>
						</label>
						<input type="radio" id="female" name="sex"/>
						<label for="female">
						  <i class="fa fa-female" aria-hidden="true"></i>
						</label>
					</div>
					<label> Date de naissance</label>
					<div class="birth-day justify-content-between">
						<div class="sel-container">
							<div class="sel">
							  <select name="select-adress" id="select-day">
							    <option value="Jour" disabled>Jour</option>
							    
							  <option value=" 1 "> 1 </option>
							  <option value=" 2 "> 2 </option>
							  <option value=" 3 "> 3 </option>
							  <option value=" 4 "> 4 </option>
							  <option value=" 5 "> 5 </option>
							  <option value=" 6 "> 6 </option>
							  <option value=" 7 "> 7 </option>
							  <option value=" 8 "> 8 </option>
							  <option value=" 9 "> 9 </option>
							   <option value="10 ">10 </option>
							   <option value="11 ">11 </option>
							   <option value="12 ">12 </option>
							   <option value="13 ">13 </option>
							   <option value="14 ">14 </option>
							   <option value="15 ">15 </option>
							   <option value="16 ">16 </option>
							   <option value="17 ">17 </option>
							   <option value="18 ">18 </option>
							   <option value="19 ">19 </option>
							   <option value="20 ">20 </option>
							   <option value="21 ">21 </option>
							   <option value="22 ">22 </option>
							   <option value="23 ">23 </option>
							   <option value="24 ">24 </option>
							   <option value="25 ">25 </option>
							   <option value="26 ">26 </option>
							   <option value="27 ">27 </option>
							   <option value="28 ">28 </option>
							   <option value="29 ">29 </option>
							   <option value="30 ">30 </option>
							   <option value="31 ">31 </option>
							   
							  </select>
							</div>
						</div>
						<div class="sel-container">
							<div class="sel">
							  <select name="select-adress" id="select-month">
							    <option value="Mois" disabled>Mois</option>
							   <option value="Janvier ">Janvier </option>
							   <option value="Février ">Février </option>
							   <option value="Mars ">Mars </option>
							   <option value="Avril ">Avril </option>
							   <option value="Mai ">Mai </option>
							   <option value="Juin ">Juin </option>
							   <option value="Juillet ">Juillet </option>
							   <option value="Aout ">Aout </option>
							   <option value="Septembre ">Septembre </option>
							    <option value="Octobre ">Octobre </option>
							    <option value="Novembre ">Novembre </option>
							    <option value="Décembre ">Décembre </option>
							    
							  </select>
							</div>
						</div>
						<div class="sel-container">
							<div class="sel">
							  <select name="select-adress" id="select-year">
							    <option value="Année" disabled>Année</option>
							   <option value="1990 ">1990 </option>
							   <option value="1989 ">1989 </option>
							   <option value="1988 ">1988 </option>
							   <option value="1987 ">1987 </option>
							   <option value="1986 ">1986 </option>
							   <option value="1985 ">1985 </option>
							   <option value="1984 ">1984 </option>
							   <option value="1983 ">1983 </option>
							   <option value="1982 ">1982 </option>
							   <option value="1981 ">1981 </option>
							    <option value="1980 ">1980 </option>
							    
							  </select>
							</div>
						</div>
					</div>
				</form>
				
				
			</fieldset>
			
		</div>



			
			<div class="actions">
			<button type="submit">Modifier</button>
			</div>

		</div>
		</div>
	</div>
</div>