<div class="User">
	<h1>liste des utilisateurs</h1>
	

	<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th>prénom</th>
							<th>nom</th>
							<th>civilite</th>
							<th>identifiant</th>
							<th>Date naissance</th>
							<th>date création</th>
							<th>date modification</th>
							<th>Id rôle</th>
							<th>Identifiant rôle</th>
							<th>description</th>
						</tr>
					</thead>
					<tbody>
						<tr> 
							<td>John</td>
							<td>Doe</td>
							<td>Home</td>
							<td>john@mail.com</td>
							<td> 20/10/1990</td>
							<td>15/10/2017</td>
							<td>20/11/2017</td>
							<td>1</td>
							<td>Administrateur</td>
							<td>Le rôle administrateur</td>
							
						</tr>
						<tr>
							<td>John</td>
							<td>Doe</td>
							<td>Home</td>
							<td>john@mail.com</td>
							<td> 20/10/1990</td>
							<td>15/10/2017</td>
							<td>20/11/2017</td>
							<td>2</td>
							<td>Directeur</td>
							<td>Le rôle de directeur de magasin</td>
						</tr>
						<tr>
							<td>John</td>
							<td>Doe</td>
							<td>Home</td>
							<td>john@mail.com</td>
							<td> 20/10/1990</td>
							<td>15/10/2017</td>
							<td>20/11/2017</td>
							<td>3</td>
							<td>Standard</td>
							<td>Le rôle standard</td>
						</tr>
						<tr>
							<td>John</td>
							<td>Doe</td>
							<td>Home</td>
							<td>john@mail.com</td>
							<td> 20/10/1990</td>
							<td>15/10/2017</td>
							<td>20/11/2017</td>
							<td>4</td>
							<td>Vendeur</td>
							<td>Le rôle Vendeur</td>
						</tr>
						<tr>
							<td>John</td>
							<td>Doe</td>
							<td>Home</td>
							<td>john@mail.com</td>
							<td> 20/10/1990</td>
							<td>15/10/2017</td>
							<td>20/11/2017</td>
							<td>5</td>
							<td>Acheteur</td>
							<td>Le rôle Acheteur</td>
						</tr>

					</tbody>
				</table>
	</div>

</div>