
<div >

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Produit</label>
    <label class="product-price">Prix</label>
    <label class="product-quantity">Quantité</label>
    <label class="product-line-price">Total</label>
  </div>
<!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->
  <div class="product">
     <div class="product-image">
      <img src="https://www.materiel.net/live/360365.350.350.jpg">
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-1.html">
        Smartphone Apple iPhone 7 (or) - 32 Go
          </a>
        </h2>
        <div class="product-description">
          <ul>
            <li>Couleur : Or</li>
            <li>OS (type) : iOS</li>
            <li>Robuste : Certifié IP67</li>
            <li>Batterie : 1960 mAh</li>
            <li>Taille écran : 4,7"</li>
            <li>Processeur : Apple A10 64 bits</li>
          </ul>
        </div>
    </div>
    <div class="product-price">639,00€</div>
    <div class="product-quantity">
      <span>1</span>
    </div>

    
    <div class="product-line-price">639,00€</div>
  </div>
  <!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->
  <div class="product">
     <div class="product-image">
      <img src="https://www.materiel.net/live/360591.350.350.jpg">
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-2.html">
        Smartphone Apple iPhone 6s (or) - 32 Go
          </a>
        </h2>
        <div class="product-description">
          <ul>
            <li>Couleur : Or</li>
            <li>OS (type) : iOS</li>
            <li>Robuste : Certifié IP67</li>
            <li>Batterie : 1715 mAh</li>
            <li>Taille écran : 4,7"</li>
            <li>Processeur : Apple A9 64 bits</li>
          </ul>
        </div>
    </div>
    <div class="product-price">529,00€</div>
    <div class="product-quantity">
      <span>1</span>
    </div>

    
    <div class="product-line-price">529,00€</div>
  </div>
<!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->

<div class="product">
     <div class="product-image">
      <img src="https://www.materiel.net/live/194803.350.350.jpg">
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-3.html">
        Apple Câble Lightning / USB
          </a>
        </h2>
        <div class="product-description">
          <ul>
            <li>Type : Câble USB / Lightning</li>
            <li>Longueur : 1 m</li>
            <li>Couleur : Blanc</li>
          </ul>
        </div>
    </div>
    <div class="product-price">27,95€</div>
    <div class="product-quantity">
      <span>1</span>
    </div>

    
    <div class="product-line-price">27,95€</div>
  </div>
<!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->
<div class="product">
     <div class="product-image">
      <img src="https://www.materiel.net/live/199301.350.350.jpg">
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-4.html">
        Chargeur secteur Belkin Chargeur secteur USB 2,1A
          </a>
        </h2>
        <div class="product-description">
          <ul>
            <li>Nombre de ports : 1 port</li>
          </ul>
        </div>
    </div>
    <div class="product-price">27,95€</div>
    <div class="product-quantity">
      <span>1</span>
    </div>

    
    <div class="product-line-price">27,95€</div>
  </div>
<!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->
<div class="product">
     <div class="product-image">
      <img src="https://www.materiel.net/live/398168.350.350.jpg">
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-5.html">
        Ordinateur portable Asus Zenbook Flip 58256-B - i5 - 8 Go - 256 Go SSD - En solde
          </a>
        </h2>
        <div class="product-description">
          <ul>
            <li>Écran : 13,3"</li>
            <li>Modèle : Processeur Intel® Core™ i5-7200U (2,50 GHz)</li>
            <li>Capacité mémoire : 8 Go</li>
            <li>Espace disque total : 256 Go</li>
            <li>Version système d'exploitation : Windows 10</li>
          </ul>
        </div>
    </div>
    <div class="product-price">1 039,92€</div>
    <div class="product-quantity">
      <span>1</span>
    </div>

    
    <div class="product-line-price">1 039,92€</div>
  </div>
<!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->



  <div class="totals">
       
    <div class="totals-item totals-item-total">
      <label>Total</label>
      <div class="totals-value" id="cart-total">2235.87 </div>
    </div>
  </div>
      
     

</div>