
<div class="shopping-cart">

<h1>Panier</h1>
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Produit</label>
    <label class="product-price">Prix</label>
    <label class="product-quantity">Quantité</label>
    <label class="product-removal">Supprimer</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="https://www.materiel.net/live/360365.350.350.jpg">
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="#">
        Smartphone Apple iPhone 7 (or) - 32 Go
          </a>
        </h2>
        <div class="product-description">
          <ul>
            <li>Couleur : Or</li>
            <li>OS (type) : iOS</li>
            <li>Robuste : Certifié IP67</li>
            <li>Batterie : 1960 mAh</li>
            <li>Taille écran : 4,7"</li>
            <li>Processeur : Apple A10 64 bits</li>
          </ul>
        </div>
    </div>
    <div class="product-price">12.99 €</div>
    <div class="product-quantity">

<div class="qty-holder">
            <input type="text" name="qty" id="qty" class="input-text qty" value="1">
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
            </div>
        </div>


    </div>
    <div class="product-removal">
      <button class="remove-product">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <div class="product-line-price">12.99 €</div>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="images/thumbs/refrigerateurs/refrigerateur-1_1.jpg">
    </div>
    <div class="product-details">
      <h2 class="product-title"><a href="#">CANDY Réfrigérateur Combiné CCMN 7182 IXS - 371 L - Froid No Frost</a></h2>
      <div class="product-description">
        <p>Capacité du congélateur nette : 93 L</p>
        <p>Type de froid du congélateur : Ventilé sans givre</p>
        <p>Classe d'efficacité énergétique : A+</p>
      </div>
    </div>
    <div class="product-price">45.99 €</div>
    <div class="product-quantity">

<div class="qty-holder">
            <input type="text" name="qty" id="qty" class="input-text qty" value="1">
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
            </div>
        </div>

    </div>
    <div class="product-removal">
      <button class="remove-product">
        <i class="fa fa-trash-o"></i>
        
      </button>
    </div>
    <div class="product-line-price">45.99 €</div>
  </div>

  <div class="totals">
       
    <div class="totals-item totals-item-total">
      <label>Total</label>
      <div class="totals-value" id="cart-total">90.57 €</div>
    </div>
  </div>
      
      <form action="confirmation.html" method="get">
          <button type="submit" class="checkout">Valider</button>
      </form>

</div>