
<div class="shopping-cart">

<h1>Panier</h1>
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Produit</label>
    <label class="product-price">Prix</label>
    <label class="product-quantity">Quantité</label>
    <label class="product-removal">Supprimer</label>
    <label class="product-line-price">Total</label>
  </div>
<!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->

  <div class="product">
     <div class="product-image">
      <a href="detail-produit-1.html">
      <img src="https://www.materiel.net/live/360365.350.350.jpg">
    </a>
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-1.html">
        Smartphone Apple iPhone 7 (or) - 32 Go
          </a>
        </h2>
        <a href="detail-produit-1.html">
        <div class="product-description">
          <ul>
            <li>Couleur : Or</li>
            <li>OS (type) : iOS</li>
            <li>Robuste : Certifié IP67</li>
            <li>Batterie : 1960 mAh</li>
            <li>Taille écran : 4,7"</li>
            <li>Processeur : Apple A10 64 bits</li>
          </ul>
        </div>
      </a>
    </div>
    <div class="product-price">639,00€</div>
    <div class="product-quantity">

<div class="qty-holder">
            <input type="text" name="qty" id="qty" class="input-text qty" value="1">
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
            </div>
        </div>


    </div>
    <div class="product-removal">
      <button class="remove-product">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <div class="product-line-price">639,00€</div>
  </div>
  <!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->

  <div class="product">
     <div class="product-image">
      <a href="detail-produit-2.html">
      <img src="https://www.materiel.net/live/360591.350.350.jpg">
    </a>
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-2.html">
        Smartphone Apple iPhone 6s (or) - 32 Go
          </a>
        </h2>
        <a href="detail-produit-2.html">
        <div class="product-description">
          <ul>
            <li>Couleur : Or</li>
            <li>OS (type) : iOS</li>
            <li>Robuste : Certifié IP67</li>
            <li>Batterie : 1715 mAh</li>
            <li>Taille écran : 4,7"</li>
            <li>Processeur : Apple A9 64 bits</li>
          </ul>
        </div>
      </a>
    </div>
    <div class="product-price">529,00€</div>
    <div class="product-quantity">

<div class="qty-holder">
            <input type="text" name="qty" id="qty" class="input-text qty" value="1">
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
            </div>
        </div>


    </div>
    <div class="product-removal">
      <button class="remove-product">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <div class="product-line-price">529,00€</div>
  </div>
   <!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->

  <div class="product">
     <div class="product-image">
      <a href="detail-produit-3.html">
      <img src="https://www.materiel.net/live/194803.350.350.jpg">
    </a>
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-3.html">
        Apple Câble Lightning / USB
          </a>
        </h2>
        <a href="detail-produit-3.html">
        <div class="product-description">
          <ul>
            <li>Type : Câble USB / Lightning</li>
            <li>Longueur : 1 m</li>
            <li>Couleur : Blanc</li>
          </ul>
        </div>
      </a>
    </div>
    <div class="product-price">27,95€</div>
    <div class="product-quantity">

<div class="qty-holder">
            <input type="text" name="qty" id="qty" class="input-text qty" value="1">
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
            </div>
        </div>


    </div>
    <div class="product-removal">
      <button class="remove-product">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <div class="product-line-price">27,95€</div>
  </div>
   <!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->

  <div class="product">
     <div class="product-image">
      <a href="detail-produit-4.html">
      <img src="https://www.materiel.net/live/199301.350.350.jpg">
    </a>
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-4.html">
        Chargeur secteur Belkin Chargeur secteur USB 2,1A
          </a>
        </h2>
        <a href="detail-produit-4.html">
        <div class="product-description">
          <ul>
            <li>Nombre de ports : 1 port</li>
          </ul>
        </div>
      </a>
    </div>
    <div class="product-price">27,95€</div>
    <div class="product-quantity">

<div class="qty-holder">
            <input type="text" name="qty" id="qty" class="input-text qty" value="1">
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
            </div>
        </div>


    </div>
    <div class="product-removal">
      <button class="remove-product">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <div class="product-line-price">27,95€</div>
  </div>
   <!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->

  <div class="product">
     <div class="product-image">
      <a href="detail-produit-5.html">
      <img src="https://www.materiel.net/live/398168.350.350.jpg">
    </a>
    </div>
    <div class="product-details">
        <h2 class="product-title">
          <a href="detail-produit-5.html">
        Ordinateur portable Asus Zenbook Flip 58256-B - i5 - 8 Go - 256 Go SSD - En solde
          </a>
        </h2>
        <a href="detail-produit-5.html">
        <div class="product-description">
          <ul>
            <li>Écran : 13,3"</li>
            <li>Modèle : Processeur Intel® Core™ i5-7200U (2,50 GHz)</li>
            <li>Capacité mémoire : 8 Go</li>
            <li>Espace disque total : 256 Go</li>
            <li>Version système d'exploitation : Windows 10</li>
          </ul>
        </div>
      </a>
    </div>
    <div class="product-price">1 039,92€</div>
    <div class="product-quantity">

<div class="qty-holder">
            <input type="text" name="qty" id="qty" class="input-text qty" value="1">
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
            </div>
        </div>


    </div>
    <div class="product-removal">
      <button class="remove-product">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
    <div class="product-line-price">1 039,92€</div>
  </div>


  <!-- ////////////////////////////////////////////  Row   /////////////////////////////////////// -->

  <div class="totals">
       
    <div class="totals-item totals-item-total">
      <label>Total</label>
      <div class="totals-value" id="cart-total">2235.87 €</div>
    </div>
  </div>
      
      <form action="confirmation.html" method="get">
          <button type="submit" class="checkout">Valider</button>
      </form>

</div>