<div id="slider" class="owl-carousel owl-theme">
 <div class="item">
  	<a href="#"><img src="./images/slider/ebenus-matelas_2.jpg"/></a>
  </div>
  
  <div class="item">
  	<a href="#"><img src="./images/slider/ebenus-matelas_1.jpg"/></a>
  </div>
 
</div>