nav ul{
padding: 0px;
margin: 0px;
list-style-type: none;
background-color: #333333;
text-align: center;
}

nav li{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 40px;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	line-height: 40px;

}
nav li a{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}
#categorie {
	background-color: #FFFFFF;
}
#categorie{
  width: 200px;
  list-style: none;
  margin-top: -600px;
  padding: 0;
  float: left;
}
#categorie li {
  background: #333333;
  color: #FFFFFF;
  border: 1px solid #600 ;
  margin-bottom: 1px ;
}
#recherch{
	display: inline-block;
	border: 0px solid #CCCCCC;
	position:relative;
	float: right;
	margin-top: -132px;
}
#recherche{
	display: inline-block;
	border: 0px solid #CCCCCC;
	position:relative;
	float: right;
	margin-top: -48px;
}
#formulaire{
	position: relative;
	text-align: center;
}
#photo{
	position:relative;
	text-align: center;
}
#photo li{
	display: inline-block;
	position: relative;
}
#choix{
	position:relative;
	text-align: center;
}
#choix li{
	display: inline-block;
	position: relative;
}
#meilleurs{
	position:relative;
	text-align: center;
}
#meilleurs li{
	display: inline-block;
	position: relative;
}
footer {
	background-color: #333333;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
}
footer li{
	display: inline-block;
}
	
.test{
	position:relative;
	 top: 100px;
	  left: 10%;
	   color: black;

	    
	}
.test2{
	position: relative;
	 top: -300px;
	  left:70%;
	   color: black;
	    font-size: x-large
	}
.blok{
	background-color: white;
	margin:0% 20% 0% 20%;
}
#block{
	background-color: white;
	margin:0% 10% 0% 10%;
}
#header{
	margin: auto;
}
.img{
	margin: center;
}
footer {
	background-color: #000;
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1px;
	color: #FFFFFF;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	width: 100%;
}