body {
margin: 0px ;
color: :black;
background-image:url(fond-site.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.fond{
	background-color: rgba(169,169,169,0.5);
	margin:0% 20% 0% 20%;
}
#monimage1 {
   background: url(header.png) no-repeat;
   width: 50%;
   height: 50%;
}
