body {
margin: 0px ;
color: :black;
background-image:url(../image/reebok_shoes_sport_brand_style_9734_1920x1080.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.fond{
	background-color: rgba(169,169,169,0.5);
	margin:0% 20% 0% 20%;
}
