<div class="customer-acount">
	<h1>Adresse Client</h1>
	<div class="account-container row no-gutters">
		<div class="facet-navigation col-md-3">
	<ul>
		<li><a href="informations-personnelle.html">Information personnelles</a></li>
		<li><a href="adresse-client.html">Gérer mon carnet d'adresses</a></li>
		<li><a href="historique-commandes.html">Historique des commandes</a></li>
		
	</ul>
</div>
		<div class=" common-form-controls col-md-9">
			
		<div id="customer-info-form" class="row no-gutters">
			<fieldset class="col-md-6">
				<h2>Informations personnelles</h2>
				<form action="#">
					<label for="firstname">Prénom</label>
					<input value="" name="firstname" id="firstname" type="text">
					<label for="lastname">Nom</label>
					<input value="" name="lastname" id="lastname" type="text">
					<label for="email">Email</label>
					<input value="" name="email" id="email" type="email">
					<label for="pseudo">Identifiant</label>
					<input value="" name="pseudo" id="pseudo" type="text">
				</form>
				
			</fieldset>
			
			<fieldset class="col-md-6">
				<h2>Adresse</h2>
				<form action="#">
					<label for="street">Rue</label>
					<input value="" name="street" id="street" type="text">
					<label for="postalcode">Code Postale</label>
					<input value="" name="postalcode" id="postalcode" type="text">
					<label for="city">Ville</label>
					<input value="" name="city" id="city" type="text">
					<label for="country">Pays</label>
					<input value="" name="country" id="country" type="text">
				</form>
			</fieldset>
			<div class="actions">
				<button type="submit">Ajouter cette adresse</button>
				<button type="submit">Annuler</button>
			</div>

		</div>
		</div>
	</div>
</div>