<div class="account-login">
    <div class="page-title">
        <h1>Identifiez vous</h1>
    </div>
            <form action="listeUsers.html" method="get" id="login-form"> 
        <div class="row">
            
            <div class="col-md-5 registered-users">
                <div>
                    <h2>CONNECTEZ-VOUS</h2>
                    <p>On se connait déjà ?</p>
                    <p>Connectez-vous avec votre <strong>adresse e-mail</strong> et votre <strong>mot de passe</strong> pour accéder à votre espace client.</p>
                    <ul class="form-list">
                        <li>
                            <label for="email" class="required">Email<em>*</em></label>
                            <div class="input-box">
                                <input type="text" name="email" value="" id="email" class="input-text" title="Email">
                            </div>
                        </li>
                        <li>
                            <label for="pass" class="required">Mot de passe<em>*</em></label>
                            <div class="input-box">
                                <input type="password" name="password" class="input-text" id="pass" title="Password">
                            </div>
                        </li>
                       </ul>
                    <p class="required-msg">* champs obligatoires</p>
                </div>
                <br>
                <button class="btn btn-default" type="submit">Connexion</button>
            </div>

         
        </div>

       
       </form>

</div>