<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
	<h1>Mot de passe oublié ?</h1>
<!-- Text input-->
<div class="form-group forgot-pass-form">
  <div class="col-md-5">
  <input id="textinput" name="textinput" type="text" placeholder="Email" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group  forgot-pass-form">
  <label class="col-md-4 control-label" for="forgotPass"></label>
  <div class="col-md-4">
    <button id="forgotPass" name="forgotPass" class="btn btn-default">Valider</button>
  </div>
</div>

</fieldset>
</form>
