                                     

<div class="product-view " >
<div class="row no-gutters">
<div class="product-img-box col-md-7 ">
    <ul>
        <li>
        <img class="detail-img" src="https://www.materiel.net/live/387487.350.350.jpg" alt="" />
    </li>
     
    </ul>
   
</div>

<div class="product-shop col-md-5">
    <div class="product-name">
        <h1>The G-Lab KORP#100</h1>
    </div>
    <div class="short-description">
        <div class="std">
           <ul>
               <li>Utilisation recommandée : Jeux</li>
               <li>Type : Stéréo</li>
               <li>Type d'écouteurs : Circum-aural (englobe les oreilles)</li>
               <li>Transducteur : Néodyme de 40 mm</li>
               <li>Connexion : 1x 3,5 mm ou 2x 3,5 mm</li>
               <li>Liste de compatibilité : Compatible PC, PS4, Xbox One (adaptateur nécessaire)</li>
           </ul>
        </div>
    </div>
    <div class="product-info">
        <div>
            <div class="price-box">
                <span class="regular-price" id="product-price-101">
                    <span class="price">19,90€</span>
                </span>
            </div>
            <p class="reference-product">Ref : <strong>FE48E455R</strong></p>
            <div class="availability in-stock">Availability: <span>en stock</span>
                <p>Nous nous excusons de l’indisponibilité du produit, il sera bientôt disponible sous X semaines.</p>
            </div>
        </div>
    </div>

    <div class="add-to-box">
        <div class="add-to-cart">
            <label for="qty">Qty:</label>
            <div class="qty-holder">
                <input type="text" name="qty" id="qty" class="input-text qty" value="1">
                <div class="qty-changer">
                    <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                    <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
                </div>
            </div>
            <button type="button" title="Add to Cart" class="button btn-cart">
                <i class="icon-cart"></i>Ajouter au panier
            </button>
            
        </div>
    </div>
</div>
</div>
</div>
