                                     

<div class="product-view " >
<div class="row no-gutters">
<div class="product-img-box col-md-7 ">
    <ul>
        <li>
        <img class="detail-img" src="images/detail-product/refrigerateurs/refrigerateur-1_1.jpg" alt="" />
    </li>
     
    </ul>
   
</div>

<div class="product-shop col-md-5">

<div class="product-name">
        <h1>BEKO Réfrigérateur 2 portes RED45DXP, 400L, Froid No Frost</h1>
    </div>
    <div class="short-description">
        <div class="std">
            <p>Type de froid du congélateur : Ventilé sans givre</p>
            <p>Capacité du congélateur nette : 192 L</p>
            <p>Capacité du réfrigérateur nette : 370 L</p>
            <p>Capacité totale du réfrigérateur : 338 L</p>
        </div>
    </div>
<div class="product-info">
    <div>

        <div class="price-box">
            <span class="regular-price" id="product-price-101">
                <span class="price">428.00 €</span>
            </span>
        </div>        <p class="reference-product">Ref : <strong>FE48E455R</strong></p>
        <div class="availability hors-stock">Availability: <span>épuisé</span>
        <p>Nous nous excusons de l’indisponibilité du produit, il sera bientôt disponible sous X semaines.</p>
        </div>
    </div>
</div>

<div class="add-to-box">
    <div class="add-to-cart">
        <label for="qty">Qty:</label>
        <div class="qty-holder">
            <input type="text" name="qty" id="qty" class="input-text qty" value="1">
            <div class="qty-changer">
                <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
            </div>
        </div>
        <button type="button" title="Add to Cart" class="button btn-cart">
            <i class="icon-cart"></i>Ajouter au panier 
        </button>
        
    </div>
</div>
</div>
</div>
</div>
