                                     

<div class="product-view " >
<div class="row no-gutters">
<div class="product-img-box col-md-7 ">
    <ul>
        <li>
        <img class="detail-img" src="https://www.materiel.net/live/398168.350.350.jpg" alt="" />
    </li>
     
    </ul>
   
</div>

<div class="product-shop col-md-5">
    <div class="product-name">
        <h1>Ordinateur portable Asus Zenbook Flip 58256-B - i5 - 8 Go - 256 Go SSD </h1>
    </div>
    <div class="short-description">
        <div class="std">
            <ul>
                <li>Écran : 13,3"</li>
                <li>Modèle : Processeur Intel® Core™ i5-7200U (2,50 GHz)</li>
                <li>Capacité mémoire : 8 Go</li>
                <li>Espace disque total : 256 Go</li>
                <li>Version système d'exploitation : Windows 10</li>
                <li>Poids en Kg : 1,10 Kg</li>
            </ul>
        </div>
    </div>
    <div class="product-info">
        <div>
            <div class="price-box">
                <span class="regular-price" id="product-price-101">
                    <span class="price">909,94€</span>
                </span>
            </div>
            <p class="reference-product">Ref : <strong>FE48E455R</strong></p>
            <div class="availability in-stock">Availability: <span>en stock</span>
                <p>Nous nous excusons de l’indisponibilité du produit, il sera bientôt disponible sous X semaines.</p>
            </div>
        </div>
    </div>

    <div class="add-to-box">
        <div class="add-to-cart">
            <label for="qty">Qty:</label>
            <div class="qty-holder">
                <input type="text" name="qty" id="qty" class="input-text qty" value="1">
                <div class="qty-changer">
                    <a href="javascript:void(0)" class="qty_inc"><i class="icon-up-dir"><em>+</em></i></a>
                    <a href="javascript:void(0)" class="qty_dec"><i class="icon-down-dir"> <em>-</em></i></a>
                </div>
            </div>
            <button type="button" title="Add to Cart" class="button btn-cart">
                <i class="icon-cart"></i>Ajouter au panier
            </button>
            
        </div>
    </div>
</div>
</div>
</div>
