<div class="products-container">
	<h1>Les produits les plus achetés</h1>
	<div class="row no-gutters products-box">
		
		<div class="products col-md-12">
			
		<ul class="row no-gutters justify-content-between">
			
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/360365.350.350.jpg" alt="">
						<a href="detail-produit-1.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-1.html">
							Smartphone Apple iPhone 7 (or) - 32 Go
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">639,00€</span>
						</div>
					</div>
					
					
			</li>
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/360591.350.350.jpg" alt="">
						<a href="detail-produit-2.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-2.html">
							Smartphone Apple iPhone 6s (or) - 32 Go
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">529,00€</span>
						</div>
					</div>
					
					
			</li>
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/194803.350.350.jpg" alt="">
						<a href="detail-produit-3.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-3.html">
							Apple Câble Lightning / USB
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">27,95€</span>
						</div>
					</div>
					
					
			</li>
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/199301.350.350.jpg" alt="">
						<a href="detail-produit-4.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-4.html">
							Chargeur secteur Belkin Chargeur secteur USB 2,1A
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">27,95€</span>
						</div>
					</div>
					
					
			</li>
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/398168.350.350.jpg" alt="">
						<a href="detail-produit-5.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-5.html">
							Ordinateur portable Asus Zenbook Flip 58256-B - i5 - 8 Go - 256 Go SSD
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">1 039,92€</span>
						</div>
					</div>
					
					
			</li>
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/391814.350.350.jpg" alt="">
						<a href="detail-produit-6.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-6.html">
							PC portable gamer MSI GS73 7RE-006FR - i7 - 8 Go - SSD - GTX 1050 Ti
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">1 299,90€</span>
						</div>
					</div>
					
					
			</li>
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/386236.350.350.jpg" alt="">
						<a href="detail-produit-7.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-7.html">
							Ordinateur portable Acer Aspire E5-774-36WT - i3 - 4 Go - 1 To
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">424,92€</span>
						</div>
					</div>
					
					
			</li>
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/394824.350.350.jpg" alt="">
						<a href="detail-produit-8.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-8.html">
							PC portable gamer MSI GT75VR 7RE-064FR - i7 - 16 Go - SSD - GTX 1070
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">2 599,90€</span>
						</div>
					</div>
					
					
			</li>
			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/375167.350.350.jpg" alt="">
						<a href="detail-produit-9.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-9.html">
							Appareil photo Compact Canon Ixus 185 Noir
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">99,00€</span>
						</div>
					</div>
					
					
			</li>

			<li class="col-sm-6 col-md-3 col-lg-2">
					<div class="image-wrapper">
						<img src="https://www.materiel.net/live/371176.350.350.jpg" alt="">
						<a href="detail-produit-10.html" class="add-to-cart-btn">
							<button  class="addtocart" title="Add to Cart" >
								<i class="icon-cart"></i>
								<span>Ajouter au panier</span>
							</button>
						</a> 
					</div>
					<div class="product-info">
						<h2 class="product-name">
							<a href="detail-produit-10.html">
							Appareil photo instantané Fujifilm Instax WIDE 300
							</a>
						</h2>
						<div class="price-box">
							<span class="regular-price">119,00€</span>
						</div>
					</div>
					
					
			</li>
		</ul>
	</div>
	</div>
</div>