<div class="services">

	<div class="row no-gutters justify-content-between ">
		<div class="col-sm-4" style="text-align:left;">
	        <i class="icon-shipping" ></i>
	        <div class="text-area">
	        	<span>FREE SHIPPING &amp; RETURN</span>
	        	<p>Free shipping on all orders over $99.</p>
	        </div>
      	</div>
      	<div class="col-sm-4" style="text-align:left;">
	        <i class="icon-us-dollar" ></i>
	        <div class="text-area">
	        	<span>MONEY BACK GUARANTEE</span>
	        	<p>100% money back guarantee.</p>
	        </div>
      	</div>
      	<div class="col-sm-4" style="text-align:left;">
	        <i class="icon-support" ></i>
	        <div class="text-area">
	        	<span>ONLINE SUPPORT 24/7</span>
	        	<p>Lorem ipsum dolor sit amet.</p>
	        </div>
      	</div>

	</div>
	
</div>