<div class="User">
	<h1>Editer un utilisateur</h1>
		<form id="customer-info-form" class="no-gutters">
	<div class="account-container row">
		
		<fieldset class=" common-form-controls col-md-5">
			<div >
				<label for="firstname">Prénom</label>
				<input value="John"  name="firstname" id="firstname" type="text">
				<label for="lastname">Nom</label>
				<input value="Doe"  name="lastname" id="lastname" type="text">
					<label for="email">Identifiant</label>
			<input name="email" value="john@mail.com" id="email" type="email">
			
			<label for="dteCreation">Date création</label>
			<input value="15/10/2017" data-toggle="datepicker"  name="dteCreation" id="dteCreation" type="text">
			
			<label for="dteModif">Date modification</label>
			<input value="18/11/2017" data-toggle="datepicker" name="dteModif" id="dteModif" type="text">
			

				
				<label>Civilité</label>
				<div class="gender">
					<input type="radio" id="male" name="sex" checked="checked"/>
					<label for="male">
					  <i class="fa fa-male" aria-hidden="true"></i>
					</label>
					<input type="radio" id="female" name="sex"/>
					<label for="female">
					  <i class="fa fa-female" aria-hidden="true"></i>
					</label>
				</div>

				<label> Date de naissance</label>
				<div class="birth-day justify-content-between">
					<div class="sel-container">
						<div class="sel">
						  <select name="select-adress" id="select-day">
						    <option value="Jour" disabled>Jour</option>
						    
						  <option  value=" 1 "> 1 </option>
						  <option value=" 2 "> 2 </option>
						  <option value=" 3 "> 3 </option>
						  <option value=" 4 "> 4 </option>
						  <option value=" 5 "> 5 </option>
						  <option value=" 6 "> 6 </option>
						  <option value=" 7 "> 7 </option>
						  <option value=" 8 "> 8 </option>
						  <option value=" 9 "> 9 </option>
						   <option value="10 ">10 </option>
						   <option value="11 ">11 </option>
						   <option value="12 ">12 </option>
						   <option value="13 ">13 </option>
						   <option value="14 ">14 </option>
						   <option value="15 ">15 </option>
						   <option value="16 ">16 </option>
						   <option value="17 ">17 </option>
						   <option value="18 ">18 </option>
						   <option value="19 ">19 </option>
						   <option value="20 ">20 </option>
						   <option value="21 ">21 </option>
						   <option value="22 ">22 </option>
						   <option value="23 ">23 </option>
						   <option value="24 ">24 </option>
						   <option value="25 ">25 </option>
						   <option value="26 ">26 </option>
						   <option value="27 ">27 </option>
						   <option value="28 ">28 </option>
						   <option value="29 ">29 </option>
						   <option value="30 ">30 </option>
						   <option value="31 ">31 </option>
						   
						  </select>
						</div>
					</div>
					<div class="sel-container">
						<div class="sel">
						  <select name="select-adress" id="select-month">
						    <option value="Mois" disabled>Mois</option>
						   <option value="Janvier ">Janvier </option>
						   <option value="Février ">Février </option>
						   <option value="Mars ">Mars </option>
						   <option value="Avril ">Avril </option>
						   <option value="Mai ">Mai </option>
						   <option value="Juin ">Juin </option>
						   <option value="Juillet ">Juillet </option>
						   <option value="Aout ">Aout </option>
						   <option value="Septembre ">Septembre </option>
						    <option value="Octobre ">Octobre </option>
						    <option value="Novembre ">Novembre </option>
						    <option value="Décembre ">Décembre </option>
						    
						  </select>
						</div>
					</div>
					<div class="sel-container">
						<div class="sel">
						  <select name="select-adress" id="select-year">
						    <option value="Année" disabled>Année</option>
						   <option value="1990 ">1990 </option>
						   <option value="1989 ">1989 </option>
						   <option value="1988 ">1988 </option>
						   <option value="1987 ">1987 </option>
						   <option value="1986 ">1986 </option>
						   <option value="1985 ">1985 </option>
						   <option value="1984 ">1984 </option>
						   <option value="1983 ">1983 </option>
						   <option value="1982 ">1982 </option>
						   <option value="1981 ">1981 </option>
						    <option value="1980 ">1980 </option>
						    
						  </select>
						</div>
					</div>
				</div> 
				
			</div>
			
			
			

		</fieldset>
<div class="offset-md-2"></div>
		<fieldset class="col-md-5">
		<label for="role">Rôle</label>
				<input value="Administrateur" name="role" id="role" type="text">
		<label for="desc">Description</label>
		<textarea name="desc" rows="5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, error.
		</textarea>		
				<label for="password">Mot de passe</label>
				<input value="123456" name="password" id="password" type="password">
				<label for="password">Confimer mot de psse</label>
				<input value="123456" name="password" id="password-C" type="password"> 

		</fieldset>
	</div>
		</form>
	<div class="actions">
			<button type="submit">Enregistrer</button>
			</div>
</div>